<html>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <body>
        <!-- Nav -->
        <%- include('./partials/nav.ejs') %>
        
        <div class="not-found-content">
            Oops,Page Not Found :)
        </div>
        <!-- Footer -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>