<html>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <body>
        <!-- Nav -->
        <%- include('./partials/nav.ejs') %>
        
        <div class="about content">
            <h2>About</h2>
            <h4>Hiiii...This is Kumar</h4>
            <p>This is just a simple Blog page created using Node.js , Express.js , and MongoDB Atlas for the Database</p>
            <p>In this web application i have implemented CRUD Operations , Routing , Redirecting , Handlers etc.. and used MVC Model for the better understanding of the code.</p>
            <h4>Functionalities</h4>
            <ul>
                <li>Create New Blogs</li>
                <li>Retrieve the Blogs Data from the Database</li>
                <li>Delete the Blogs</li>
            </ul>
        </div>
        <!-- Footer -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>